@model List<Model.Kunde>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListAlleKunder</title>
</head>
<body>
    <div>
        <h3>Her er alle kundene i databasen</h3>

        <table>
            <tr>
                <td><h3>KundeId</h3></td>
                <td><h3>Epost/Brukernavn</h3></td>
                <td><h3>Fornavn</h3></td>
                <td><h3>Etternavn</h3></td>
                <td><h3>Postnr</h3></td>
                <td><h3>Adresse</h3></td>
                <td><h3>Poststed</h3></td>
            </tr>
            @foreach (var kunder in Model)
            {
                <tr>
                    <td>@kunder.kundeid</td>
                    <td>@kunder.epost</td>
                    <td>@kunder.fornavn</td>
                    <td>@kunder.etternavn</td>
                    <td>@kunder.postnr</td>
                    <td>@kunder.adresse</td>
                    <td>@kunder.poststed</td>
                    <td><a>@Html.ActionLink("Endre", "endreAdmin", new { id = kunder.kundeid })</a></td>
                    <td><a>@Html.ActionLink("Slett", "slett", new { id = kunder.kundeid })</a></td>
                </tr>
            }
</body>
</html>
